/* Conteneur principal */
.mainAnalytics-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: transparent;
  backdrop-filter: blur(10px);
  margin: 40px auto;
  max-width: 1200px;

}

.mainAnalytics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
  height: auto;
  align-items: center;
}

/* Titre de la page */
.analytics-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Grille des statistiques */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

/* Carte de statistique */
.stat-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
  margin-top: 20px;
}

.stat-card h3 {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}



/* Conteneur du graphique */
.chart-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  margin: auto;
  width: 90%;
  max-width: 800px;
}

.chart-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.recharts-wrapper {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .mainAnalytics {
    flex-direction: column;
    /* Passe en colonne sur mobile */
    align-items: center;
  }

  .stats-grid {
    grid-template-columns: 1fr;
    /* Une seule colonne sur mobile */
  }

  .chart-container {
    width: 100%;
    height: auto;
  }

  .analytics-title {
    font-size: 1.5rem;
    /* Réduit la taille du titre sur mobile */
  }

  .stat-card {
    padding: 10px;
    /* Réduit le padding sur mobile */
  }

  .stat-card p {
    font-size: 1.2rem;
    /* Réduit la taille de la police sur mobile */
  }
}

@media screen and (max-width: 480px) {
  .analytics-title {
      font-size: 1.2rem; /* Réduit encore la taille du titre sur très petits écrans */
  }

  .stat-card h3 {
      font-size: 0.7rem; /* Réduit la taille de la police du titre sur très petits écrans */
  }

  .stat-card p {
      font-size: 1rem; /* Réduit la taille de la police sur très petits écrans */
  }
}