.boxContainer {
    width: 100%;
    height: 4rem;
    min-width: 100vw;
    background-color: transparent;
    padding: 1rem;
}

#dropdown-user{
    color: white;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.564);
}

.icon-logout {
    color: red;
}

.logout-menu {
    border-top: 1px solid gray;
    margin-top: 10px;
}

header{
    position: relative;
z-index: 10;
}