.message-bubble-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
}

.message-icon {
  background-color: rgb(21, 21, 83);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.chat-popup {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 300px;
  max-height: 400px;
  background: #2c2c54;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
}

.chat-popup.open {
  display: flex;
}

.chat-header {
  background: rgb(21, 21, 83);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

.chat-body {
  padding: 10px;
  overflow-y: auto;
  max-height: 250px;
  background: #3d3d5c;
  display: flex;
  flex-direction: column;
}

/* Style des messages */
.chat-message {
  padding: 8px 12px;
  border-radius: 12px;
  margin: 4px 0;
  max-width: 70%;
}

/* Messages de l'utilisateur (Moi) */
.chat-message.sent {
  background-color: #0084ff;
  color: white;
  align-self: flex-end;
  text-align: right;
  border-radius: 12px;
}

/* Messages de l'admin */
.chat-message.received.admin {
  background-color: #ff4500;
  color: white;
  align-self: flex-start;
  text-align: left;
  border-radius: 12px;
}

/* Messages des autres utilisateurs */
.chat-message.received {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
  text-align: left;
  border-radius: 12px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #3d3d5c;
  border-radius: 0 0 8px 8px;
}

.chat-input input {
  flex: 1;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background: rgba(81, 80, 80, 0.721);
  
}

.chat-input button {
  background-color: rgb(21, 21, 83);
  color: white;
  border: none;
  padding: 8px 7px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px;
}
